/*========max width 986 pixels=======*/
@media(max-width:986px)
{
    .offNav{
        display: block;
    }
    .res_width{
        width: 95%;
    }
    
}
@media(min-width:993px)
{
    .res_width{
        width: 93%;
    }
    
}
/*========max width 768 pixels=======*/
@media(max-width:768px)
{
    .aboutTitle{
        padding-bottom: 3rem;
    }
    .aboutLeft{
        padding-bottom: 3rem;
    }
    .projectLinks{
        display: block !important;
      }
    .sayHi{
        margin-bottom: 10px;
    }
    .gthub_stats{
        display: block;
        margin-top: 20px;
    }
    .responsive_bottom{margin-bottom: 20px;}
    .res_width{
        width: 100%;
    }
    
}/*========max width 575 pixels=======*/
@media(max-width:576px)
{
    .aboutLeft{
        margin-left: 2.8rem;
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
      }
    .cardBlock{margin-right: 0;}
    .gthub_stats{
        display: block;
        margin-top: 20px;
    }
    .responsive_bottom{margin-bottom: 20px;}
    .res_width{
        width: 100%;
    }
}

@media(max-width: 500px)
{
    #offcanvasNavbar{width: 17rem;}
}
    